<div class="w-full flex justify-center items-center p-3 border  h-[60%]">
  <div class="lg:w-[75%] p-3 bg-slate-100 rounded shadow-lg h-full">
    <div class="grid-cols-6 grid w-full border-b-2">
      <h2 class="uppercase py-3 px-2 font-bold">Professeur</h2>
      <h2 class="uppercase py-3 px-2 font-bold">Classe</h2>
      <h2 class="uppercase py-3 px-2 font-bold">Module</h2>
      <h2 class="uppercase py-3 px-2 font-bold">Semestre</h2>
      <h2 class="uppercase py-3 px-2 font-bold">Nombre d'heures</h2>
    </div>
    <div class="w-full  mb-2 h-[70%] bor overflow-y-scroll">

        <div class="grid-cols-6 grid w-full shadow-md mb-2 py-3">
          <h2 class="uppercase px-2">P1r</h2>
          <h2 class="uppercase px-2">Cla</h2>
          <h2 class="uppercase px-2">Mule</h2>
          <h2 class="uppercase px-2">Semestre 1</h2>
          <h2 class="uppercase px-2 text-center">2</h2>
        </div>
        <div class="grid-cols-6 grid w-full shadow-md mb-2 py-3">
          <h2 class="uppercase px-2">P1r</h2>
          <h2 class="uppercase px-2">Cla</h2>
          <h2 class="uppercase px-2">Mule</h2>
          <h2 class="uppercase px-2">Semestre 1</h2>
          <h2 class="uppercase px-2 text-center">2</h2>
        </div>
        <div class="grid-cols-6 grid w-full shadow-md mb-2 py-3">
          <h2 class="uppercase px-2">P1r</h2>
          <h2 class="uppercase px-2">Cla</h2>
          <h2 class="uppercase px-2">Mule</h2>
          <h2 class="uppercase px-2">Semestre 1</h2>
          <h2 class="uppercase px-2 text-center">2</h2>
        </div>
        <div class="grid-cols-6 grid w-full shadow-md mb-2 py-3">
          <h2 class="uppercase px-2">P1r</h2>
          <h2 class="uppercase px-2">Cla</h2>
          <h2 class="uppercase px-2">Mule</h2>
          <h2 class="uppercase px-2">Semestre 1</h2>
          <h2 class="uppercase px-2 text-center">2</h2>
        </div>
        <div class="grid-cols-6 grid w-full shadow-md mb-2 py-3">
          <h2 class="uppercase px-2">P1r</h2>
          <h2 class="uppercase px-2">Cla</h2>
          <h2 class="uppercase px-2">Mule</h2>
          <h2 class="uppercase px-2">Semestre 1</h2>
          <h2 class="uppercase px-2 text-center">2</h2>
        </div>
        <div class="grid-cols-6 grid w-full shadow-md mb-2 py-3">
          <h2 class="uppercase px-2">P1r</h2>
          <h2 class="uppercase px-2">Cla</h2>
          <h2 class="uppercase px-2">Mule</h2>
          <h2 class="uppercase px-2">Semestre 1</h2>
          <h2 class="uppercase px-2 text-center">2</h2>
        </div>
    </div>
    <app-pagination></app-pagination>
  </div>
</div>
